
/*body {background-color:yellow;}
h1   {font-size:36pt;}
h2   {color:blue;}
p    {margin-left:50px;}*/

body {
    margin: 0px;
    #overflow: hidden;
    #background-color: red;
    max-height: 100vh;
}

#title
{
    background-color: #008080;
    color: #FFFFFF;
    height: 90px;
    #padding: 5px;
    overflow: hidden;
    #display: table;
    display: block;
    width: 100%;
}

#page {
    #overflow: hidden;
    overflow: auto;
    #display: table;
    width: 100%;
    #margin: 0px;
}

#menu
{
    float: Left;
    width: 230px;
    padding: 5px;
    #overflow: scroll;
    #overflow-x: hidden;
    #overflow-y: auto;
    overflow: auto;
    #display: table-cell;
    #display: inline-block;
    max-height: calc(100vh - 100px);
}

#contents
{
    background-color: #FFFFFF;
    float: left;
    #width: fit-content;
    #height: fit-content;
    padding: 5px 8px 0px 8px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    #background-color: red;
    #display: table-cell;
    #display: inline-block;
    #width: calc(100% - 230px - 26px);
    
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 256px;
    right: 8px;
}

#title h1 a {
    #background-color: #C0C0C0;
    color: #c0bf00;
    padding-left: 8px;
    margin: 16px 16px;
    font-family: 'Raleway',sans-serif;
    font-size: 46px;
    font-weight: 800;
    #line-height: 32px;
    #margin: 0 0 24px;
    #text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

h2 {
    background-color: #e1dede;
    color: #0063c0;
    padding-left: 32px;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 50px;
    margin: 0 0 24px;
    margin-top: 16px;
    #text-align: center;
    text-transform: uppercase;
}

h3 {
    background-color: #bab7b7;
    color: #000000;
    padding-left: 16px;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 32px;
    margin: 0 0 8px;
    margin-top: 16px;
    #text-align: center;
    text-transform: uppercase;
}

.code {
    font-family: courier new;
    color: blue;
    font-size: 14px;
}

.inlineCode {
    font-family: courier new;
    color: blue;
    font-size: 14px;
}

.shell {
    font-family: courier new;
    color: #006400;
    /*color: #013220;*/
    padding-left: 8px;
    font-size: 14px;
}

.inlineShell {
    font-family: courier new;
    color: #006400;
    font-size: 14px;
}

pre.shell { /* pre */
    font-family: courier new;
    color: #006400;
    /*color: #013220;*/
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}

pre.codeBox { /* pre */
    font-family: courier new;
    color: blue;
    /*color: #013220;*/
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}

.codeBoxComm { /* comment inside codebox */
    font-family: courier new;
    color: #006400;
    /*padding-left: 32px;*/
    font-size: 14px;
}

.classname {
    font-family: courier new;
    color: red;
}

.comment {
    font-family: courier new;
    color: blue;
    padding-left: 32px;
    font-size: 14px;
}

div.file { /* div */
    font-family: courier new;
    color: blue;
    margin-left: 32px;
    margin-right: 64px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid black;
    font-size: 14px;
}

pre.file { /* pre */
    font-family: courier new;
    color: blue;
    margin-left: 32px;
    margin-right: 64px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid black;
    font-size: 14px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.path {
    font-family: courier new;
    color: red;
    font-size: 14px;
}

li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.narrow li {
    padding-bottom: 0px;
}

.menu ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu li {
    margin: 0 0 0 0;
    padding: 4px;
    padding-left: 8px;
    margin-bottom: 4px;
    list-style: none;
    background-color: #ebebe0;
}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
}

.menu li:hover {
    background-color: #d6d6c2;
}

.menu h3 {
    background-color: #bab7b7;
    color: #000000;
    padding-left: 32px;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    margin: 0 0 8px;
    margin-top: 16px;
    #text-align: center;
    text-transform: uppercase;
}
