
div.dialog_box {
    border: 1px solid black;
    padding: 0px;
    margin: 16px 0px;
}

.dialog_box h2 {
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 4px 8px;

    #background-color: #e1dede;
    color: black;
    #padding-left: 32px;
    #font-family: 'Raleway',sans-serif;
    font-size: 16px;
    #font-weight: 800;
    line-height: 30px;
    #margin: 0 0 24px;
    #margin-top: 16px;
    #text-align: center;
    text-transform: none;
}

.dialog_box_cont {
    padding: 16px 16px;
}

.error_box h2 {
    background-color: Salmon;
}

.warning_box h2 {
    background-color: Yellow;
}

/*============================================================================*/

.pico_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*position: fixed;*/ /* so it stays on top */
    /*top: 0;*/
    width: 100%;
}

.pico_navigation li {
    float: left;
}

.pico_navigation li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*----------------------------------------------------------------------------*/
/* white on black, active green */

.pico_nav_theme_1 ul {
    background-color: #444;
}

.pico_nav_theme_1 li a {
    color: white;
}

.pico_nav_theme_1 li a:hover:not(.active) {
    background-color: #111;
}

.pico_nav_theme_1 a.active {
    background-color: #4CAF50;
}

/*----------------------------------------------------------------------------*/
/* gray on gray, active blue */

div.pico_nav_theme_2 ul {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

div.pico_nav_theme_2 ul li a {
    color: #666;
}

div.pico_nav_theme_2 ul li a:hover:not(.active) {
    background-color: #ddd;
}

div.pico_nav_theme_2 ul li a.active {
    background-color: #008CBA;
    color: white;
}


/*============================================================================*/

.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.toolbar li {
    float: left;
}

.toolbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

.toolbar li a:hover:not(.active2) {
    background-color: #ddd;
}

.toolbar li a.active2 {
    color: white;
    background-color: #4CAF50;
}

/*============================================================================*/

.toolbar_title p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #e7e7e7;*/
    background-color: #666666;
    color: white;
    padding: 4px 16px;
    text-align: center;
}

/*============================================================================*/

.pico_data_table {
    /*width: 100%;*/
    border-collapse: collapse;
    border: 0px;
}

.pico_data_table tr:nth-child(even) {
    background: #f7fbff;
}

.pico_data_table thead th {
    font-weight: bold;
    border: 1px solid #d4d4d4;
    background: #e1f0ff;
    padding: 5px;
}

.pico_data_table td {
    border: 1px solid #d4d4d4;
    padding: 5px;
}

.pico_data_table tr:hover {
    background: #e1f0ff;
}

/*============================================================================*/
/* for ACE code editor */
#editor { 
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    position: relative !important;
    border: 1px solid lightgray;
    /*margin: auto;*/
    height: 300px;
    width: 80%;
}

